body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.followers {
	display: flex;
	flex-direction: row;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

.followers h3 {
	flex: 0 0 100%;
}

.follower {
	display: flex;
	flex-direction: column;
	text-align: center;

	background-color: #D0D0D0;
	color: #212121;
	line-height: 24px;
	font-size: 18px;
	width: 150px;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
}


.follower img {
	display:block;
}


.follower a {
    color: #212121;
    text-decoration: none;
}